<div id="rating" style="text-align:center;">
    <div>Rate meeting</div>
    <%= select(
        "attendance", 
        "rate", 
        raw('<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>')) %>
</div>